

body {
    background-color: #03396c;
    height: calc(100vh - 16px);
    display: flex;
    justify-content: center;
}

#grid-container {
    display: flex;
    aspect-ratio: 1/1;
    max-width: 700px;
    width: 40vw;
    padding-bottom: 20vh;
    align-self: center;
}

#grid-square {
    background-color: white;
    display: flex;
    flex-grow: 1;
    border: 5px, solid, black;
}

