

body {
    background-color: #03396c;
    height: calc(100vh - 16px);
    display: flex;
    justify-content: center;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
    max-width: 700px;
    max-height: 700px;
    width: 40vw;
    padding-bottom: 20vh;
    align-self: center;
    align-content: flex-start;
}

#grid-square {
    background-color: white;
    aspect-ratio: 1/1;
}
